/*
  SETTINGS
  --------

  Other component settings will eventually be copied here.
*/

$total-columns: 100;

$breakpoint-classes: (small medium large xlarge xxlarge);

$body-background: rgba(0,43,54, 1.0);
$body-font-color: #657b83;
$header-font-color: #93a1a1;

$panel-background: rgba(0,43,54,0.0);
$panel-padding: 0px;
$panel-size-horizontal: 500px;
$panel-size-vertical: 500px;
$panel-shadow: 0px;