// CUSTOMIZE FOUNDATION
// Customize all settings and stuff here. Yay!
@import "settings";	


// FOUNDATION
// The core of the framework. Woo!
@import "foundation";


@mixin multistop-panel-layout(
  $position: left,
  $size: default,
  $shadow: $panel-shadow,
  $open-stop: default,
  $closed-stop: default
) {
  @if $size == default {
	@if $position == left or $position == right {
	  $size: $panel-size-horizontal;
	}
	@if $position == top or $position == bottom {
	  $size: $panel-size-vertical;
	}
  }
  @if $open-stop == default {
  	$open-stop: 0%;
  }
  @if $closed-stop == default {
  	$closed-stop: -100%;
  }
  /*
	Direction
  */
  @if $position == top {
	top: 0;
	left: 0;
	width: 100%;
	transform: translateY(-$closed-stop);

	&.is-active {
	  transform: translateY($open-stop);
	}
  }
  @else if $position == right {
	top: 0;
	right: 0;
	height: 100%;
	transform: translateX($closed-stop);

	&.is-active {
	  transform: translateX($open-stop);
	}
  }
  @else if $position == bottom {
	bottom: 0;
	left: 0;
	width: 100%;
	transform: translateY(100%);

	&.is-active {
	  transform: translateY(0%);
	}
  }
  @else if $position == left {
	top: 0;
	left: 0;
	height: 100%;
	transform: translateX(-$closed-stop);

	&.is-active {
	  transform: translateX($open-stop);
	}
  }

  /*
	Sizing
  */
  // Horizontal panels are always all the way tall and have a set width
  @if $position == left or $position == right {
	width: 100%;
	@include breakpoint($size) {
	  width: $size;
	}
  }
  // (For now) vertical panels don't change size
  @if $position == top or $position == bottom {
	height: $size;
  }
}


.panel-right-views  { @include multistop-panel-layout(right, 988px, 0, 0%, 50%); }
.panel-left-stats   { @include multistop-panel-layout(left, default, 0, 0%, 90% ); }

.no-scroll {
  overflow: hidden !important;
}

.holobox-left-tall {
	background-image: url('/img/components/holobox_left_tall.png');
	width: 895px;
	height: 819px;
	background-repeat: no-repeat;
	padding: 50px;
}

.holobox-center {
	background-image: url('/img/components/holobox_center.png');
	width: 1170px;
	height: 641px;
	background-repeat: no-repeat;
}

.holobox-right-medium {
	background-image: url('/img/components/holobox_right_medium.png');
	width: 501px;
	height: 676px;
	background-repeat: no-repeat;
}

.holobox-right-short {
	background-image: url('/img/components/holobox_right_short.png');
	width: 988px;
	height: 249px;
	background-repeat: no-repeat;
}

.fixed-width {
	position: absolute;
	width: 1070px;
}
.band {
	background: #EEE;  
}

nav {
	background: $slate;
	color: $secondary-color;
	h1 {
		font-size: 1rem; 
	}
}

.img-bucket {
	background: $secondary-color;
}


.slide-panel {
  position: absolute;
  display: flex;
  bottom:0;
  width:  100%;
  height: 200px;
  z-index: 100;
}

// Comment or uncomment out this line for debugging.
// @include debug;

.button [class*="fi-"] { 
	position: relative;
	top:2px;
}
#img-1, #img-2 {
	// position: absolute;
}
#img-1 { z-index:1;}
