doctype html
html(ng-app='application')
head
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel='stylesheet', href='/css/app.css')
	link(rel='stylesheet', href='/lib/css/normalize.css')
	script(src='/lib/js/modernizr.js')
body(ng-controller='ViewController')
	.frame.vertical
		.block.content.shrink
			h1 This is a Header
		.block.stretch
			fa-panel(position="left-stats", style="padding-top:1em;")#stats-panel
				.holobox-left-tall
			.block.content.small-5
			.block.content
				.holobox-center
					button(fa-toggle="views-panel") Toggle Panel
			.block.content(style="padding:0px;").align-right.shrink
				fa-panel(position='right-views')#views-panel
					.holobox-right-short
						button(fa-toggle="stats-panel") Toggle Panel
				.block.content
				.block.content
				.block.content
				.block.content
				.block.content
				.block.content
				fa-panel(position='right').large-block#loadout-panel
					.holobox-right-medium

	script(src='/js/angular-app.js')
	script(src='/js/app.js')
